.footer {
    margin-top: 80px;
    width: 100%;
    background-color: #000;
    position: relative;
    color: #fff;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: -50px;
        transform: skewY(-1deg);
        z-index: 0;
    }

    * {
        z-index: 1;
        position: relative;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;
        max-width: 511px;

        position: relative;

        &:after {
            content: '';
            height: 40px;
            width: 100%;
            margin-top: 40px;
            background-color: $green;
        }
    }

    &__text {
        width: 100%;
        margin-top: 0;
        text-align: center;
        font-family: $second-font;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;

        a {
            display: block;
            margin-top: 28px;
            color: currentColor;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__copy {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7rem;
    }
}
