.to-do {
    display: block;
    width: 100%;
    margin-bottom: 68px;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 1024px) {
        background-image: url(../../img/bg-to-do.png);
        background-position: left 90%;
        background-repeat: no-repeat;
    }
    &__header {
        color: #fff;
        background-color: #000;
        transform: skewY(-3deg);
        margin-bottom: 90px;

        &-txt {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            transform: skewY(3deg);
            @media screen and (max-width: 599px) {
                padding: 60px 15px;
            }
            @media screen and (min-width: 600px) {
                padding: 125px 0;
            }
        }

        &-title {
            display: inline-block;
            font-family: $main-font;
            font-weight: 600;
            border-bottom: 4px solid $green;

            @media screen and (max-width: 599px) {
                font-size: 5rem;
                line-height: 5rem;
            }
            @media screen and (min-width: 600px) {
                font-size: 6rem;
                line-height: 6rem;
            }
        }

        &-p {
            font-family: $second-font;
            @media screen and (max-width: 599px) {
                font-size: 1.6rem;
                line-height: 2rem;
            }
            @media screen and (min-width: 600px) {
                font-size: 2.4rem;
                line-height: 2.9rem;
            }
        }
    }

    &__container {
        display: grid;
        align-items: start;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        @media screen and (min-width: 768px) {
            gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 40px 23px;
        background-color: #fff;
        box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
        border-top: 20px solid #e88d39;
        color: #000;
        
        @media screen and (max-width: 767px) {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 30px;
        }
        @media screen and (min-width: 768px) {
            width: 100%;
        }
        
        &.-complete {
            border-top-color: $green;
        }
    }

    &__list-title {
        text-align: center;
        font-family: $main-font;
        font-weight: 600;
        font-size: 4rem;
        
    }

    &__list-subtitle {
        text-align: center;
        font-family: $second-font;
        font-size: 2.4rem;
        line-height: 2.9rem;

        strong {
            font-weight: 700;
        }
    }

    &__ul {
        list-style-type: none;
        padding: 0;
    }

    &__li {
        display: inline-block;
        width: 100%;
        margin: 10px auto;

        input {
            display: none;
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        width: calc(100% - 60px);
        font-size: 1.6rem;
        line-height: 1.6rem;
        
        &:before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 16px;
            background-color: #fff;
            border: 1px solid #e88d39;
            border-radius: 100%;
        }
        input:checked + & {
            &:before {
                background-image: url(../../img/checeked.svg);
                background-position: center;
                border-color: $green;
            }
        }

        span {
            width: calc(100%  - 40px);
        }

    }

    &__del {
        float: right;
        width: auto;
        font-family: $second-font;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: #999;
        background-color: transparent;
        border: none;
    }

    &__earse-all {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 100%;
        margin-top: 40px;
        font-family: $second-font;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
        background-color: #000;
        border-radius: 10px;
        border: none;
        transition: background-color 0.7s ease-in-out;
        will-change: background-color;

        &:hover {
            background-color: $green;
        }
    }

}