$main-font: 'Poppins', sans-serif;
$second-font: 'Montserrat', sans-serif;

// ========================================
// Colors
// ========================================
$light-main: #9499B3;
$green: #4AC959;
$blue: #2D99D6;
$main-color: $green;

$light-text: $main-color;
$text-color: $light-main;
$dark-text: #000;
$link-defalt: $main-color;

$txt_footer: $light-main;

// ========================================
// Backgrounds
// ========================================
$bg-body:#fff;
$bg-secundary: #434343;


// ----------------------------------------
// Padding & Margin
// ----------------------------------------
$padding: 10px;
$v-margin: 25px;

// ========================================
// Grids - Sizes and Columns
// ========================================
$max-size: 1440px;
$sizes: (mx,$max-size,12,last), (df,1023px,12), (md,767px,12), (sm,600px,6), (ph,520px,2);
